@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
/* Style the header element */
header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}
a > h1{
  font-size: 50px;
}
header > a {
  color: white;
  text-decoration: none;
}

/* Main section */
body{
  background: rgb(84,80,136);
  background: linear-gradient(360deg, rgba(84,80,136,1) 53%, rgba(42,137,162,1) 100%, rgba(67,215,174,1) 100%);
}

/* Style the search bar element */
.search-bar {
  display: flex;
  justify-content: center;
  margin: 10px;
}

/* Style the input element */
#search-input {
  width: 300px;
  height: 40px;
  border: 1px solid #333;
  border-radius: 5px;
  margin-right: 10px;
  padding: 0 20px;
  transition: 0.3s ease-in-out;
}
#search-input:hover{
  scale: 1.04;
  border: 1px solid green;
}
#search-input:focus{
  border: 1px solid green;
  outline: none;
}

#search-input::placeholder {
  font-family: inherit;
  font-size: 16px;
}

/* Style the button element */
#search-button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
#search-button:hover{
  scale: 1.02;
  background-color: rgb(156, 88, 170);
}

/* Style the sorting options element */
.sorting-options {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

/* Style the sorting buttons */
#sort-by-date,
#sort-by-rating {
  width: 225px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the active sorting button */
.active-sort {
  background-color: #333;
  color: white;
}

/* Style the tabs element */
.tabs {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 40px;
}

/* Style the tab buttons */
#all-tab,
#favorites-tab {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the active tab button */
.active-tab {
  background-color: #333;
  color: white;
}

/* Style the list element */
#movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 20px 0;
}

/* Style the card element */
.card {
  width: 200px;
  height: 375px;
  margin: 10px;
  border: 1px solid #333;
  border-radius: 5px;
}

/* Style the poster image element */
.poster {
  width: 200px;
  height: 250px;
  object-fit: cover;
}


/* Style the title element */
.title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  color: whitesmoke;
}

.vote-favouriteIcon {
  display: flex;
  justify-content: space-around;
}

/* Style the vote count and vote average elements */
.vote-count,
.vote-average {
  font-size: 14px;
  color: whitesmoke;
}

/* Style the favorite icon element */
.favorite-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  display: flex;
  place-items: center;
  margin-top: 15px;
  color: tomato;
  transition: 0.5s ease-in-out;
}
.favorite-icon:hover{
  scale: 1.1;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#prev-button, #page-number-button, #next-button {
  margin-right: 10px;
  padding: 5px 7px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#page-number-button{
  cursor: default;
}

/* Style the footer element */
footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

/* TOP ANDBOTTOM NAVIGATION */
.top-navigator{
  position: relative;
}
.bottom-navigator {
  display: none;
}
.fa-circle-chevron-up, 
.fa-circle-chevron-down{
    position: fixed;
    right: 25px;
    top: 90vh;
    font-size: 40px;
    cursor: pointer;
}

/* media quries */

@media screen and (max-width: 500px) {
  header > h1{
    font-size: 40px;
  }
  .sorting-options{
    flex-direction: column;
    align-items: center;
  }
}
